* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #dda0dd;
  padding: 0 5%;
}
#container {
  max-width: 1000px;
  margin: 5% auto;
  padding: 3%;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0 5px 10px black;
}
#title {
  margin-bottom: 3%;
  text-align: center;
}
#searchBar {
  width: 100%;
  height: 50px;
  margin-bottom: 3%;
  padding: 1%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.5em;
}
#movieList {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
}
li {
  list-style: none;
  padding: 1%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.2s;
}
